
@tailwind base;
@tailwind components;
@tailwind utilities;


.top-18{
top: 65px;
right:30px;
width: 300px;
}

.maxhw {
    max-width: 300px;
    max-height:  380px ;
}

.shadow-left {
    box-shadow: -10px 0 20px -5px rgba(115,115,115,0.75);
}

.shadow-bottom{
    box-shadow: 0 4px 2px -4px gray;
}

.shadow-null{
    box-shadow: -0px 0 0px -0px rgba(115,115,115,0.75);
}


.sbar {
    width: 0%;
    
    background: black;
    box-shadow: -10px 0 15px -5px rgba(115,115,115,0.75);
    
  }

  .sbarOpen{
width: 100%;
  }

  .sidebarhover{
    width: 100px;background: red;
  }


.itsvisible{
    right:0px
}

.notVisible{
    right:-900px
}

.buttonpos{
top:0;
left:0
}



.sidebarsize{
    width: 500px;
    height:800px;
} 





/* ::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: black;
    width: 7px;
}
*/
::-webkit-scrollbar-thumb{
    
    border-radius: 10px;

} 

.stickybar{
    position: sticky;
    top:0;
    z-index: 10;
}


.cartzindex{
    z-index:45 ;
    
}






.scrollbar-thin::-webkit-scrollbar-track {
    border-radius: 20px
}



/* Container holding the scrollable content */
.scroll-container {
    
    position: relative;
    border-radius: 10px;
    /* Rounded corners */
    overflow: hidden;
    /* Hide scrollbar by default */
    
    /* Adjust margin as needed */
}

/* Scrollable content */
.scroll-content {
    
    /* Adjust width to account for margin */
    height: calc(100% - 20px);
    /* Adjust height to account for margin */
    padding: 8px;
    margin-right: 10px;
    /* Padding to separate content from scrollbar */
    box-sizing: border-box;
    overflow-y: hidden;
    /* Hide content overflow initially */
}

/* Show scrollbar on hover */
.scroll-container:hover .scroll-content {
    overflow-y: auto;
}

/* Custom scrollbar */
.scroll-content::-webkit-scrollbar {
    width: 8px;
    
    /* Set the width of the scrollbar */
}

.scroll-content::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Track color */
    border-radius: 8px;
    display: none;
    /* Rounded corners for the track */
}

.scroll-content::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Thumb color */
    border-radius: 8px;
    /* Rounded corners for the thumb */
}

/* Hide scrollbar buttons (arrows) */
.scroll-content::-webkit-scrollbar-button {
    display: none;
}


.stickyIfFails {
    position: -webkit-sticky;
    position: sticky; 
    top: 0;
    z-index: 40
}

.forFavourite{
            position: 'absolute';
                    top: '50%';
                    left: '50%';
                    transform: 'translateX(-50%)';
}




